# Core LangChain packages
langchain
langchain-core

# Google Gemini integration
langchain-google-genai
google-generativeai

# PDF loaders
PyPDF2
pymupdf
langchain-pymupdf4llm

# Text splitting
langchain-text-splitters

# Vector store
faiss-cpu

# Environment variables
python-dotenv
# Streamlit for Web UI
streamlit

# Tokenizer for LLMs
tiktoken
